<div class="diag-layout">
    <div class="circuit-container">
        <div class="chip master-chip">
            <div class="chip-label">SYSTEM_CORE</div>
            <div class="chip-value">.NET 9 / C#</div>
        </div>

        <div class="trace trace-horizontal"></div>
        <div class="trace trace-vertical"></div>

        <div class="chip sub-chip" style="top: 20%; left: 70%;">
            <div class="chip-label">UI_ENGINE</div>
            <div class="chip-value">BLAZOR</div>
        </div>

        <div class="chip sub-chip" style="top: 70%; left: 70%;">
            <div class="chip-label">DATA_LAYER</div>
            <div class="chip-value">SQL_SERVER</div>
        </div>
    </div>
</div>

@code {

}
