@inject ProjectStateService ProjectState
@inject NavigationManager Nav


<div class="stage-container">
  
    @if (ProjectState.SelectedFile?.FileName == "Identity")
    {
        @ChildContent @* This renders the IdentityView.razor page *@
    }
    else if (ProjectState.SelectedFile != null)
    {
        var file = ProjectState.SelectedFile;

        @if (file.Category == "LIVE_APPS")
        {
            <LiveAppView Project="file" />
        }
        else if (file.FileName == "System_Diagnostic")
        {
            <SystemDiagnosticView />
        }
        else if (file.FileName == "Uplink")
        {
            <UplinkView />
        }
        else if (file.Extension == ".xaml")
        {
            <WPFView @key="ProjectState.SelectedFile?.FileName" SelectedFile="file" />
        }
        else 
        {
            @* Default to the Code Editor for everything else *@
            <CodeEditorView SelectedFile="file" />
        }
      
    }
    else
    {
        @* Default Welcome Screen *@
        <div class="welcome-screen">
            <h3> > SYSTEM_READY </h3>
            <p>SELECT_A_FILE_FROM_SIDEBAR</p>
        </div>
    }
   
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        ProjectState.OnChange += StateHasChanged;
    }

    protected override void OnParametersSet()
    {
        // If they click Identity, force the URL to change
        if (ProjectState.SelectedFile?.FileName == "Identity" && !Nav.Uri.Contains("identity"))
        {
            Nav.NavigateTo("identity");
        }
        // If they click a code file while on the Identity page, go back to home
        else if (ProjectState.SelectedFile?.FileName != "Identity" && Nav.Uri.Contains("identity"))
        {
            Nav.NavigateTo("/");
        }
        // Any additional logic when parameters are set can go here
        // This is the "Smart Redirect"
        // if (ProjectState.SelectedFile?.FileName == "Identity")
        // {
        //     Nav.NavigateTo("identity");
        // }
    }

 
    public void Dispose()
    {
        ProjectState.OnChange -= StateHasChanged;
    }
}
