@page "/portfolio"

@layout PortfolioLayout

<div>
    <div class="col-9">
        <MainStage aSelectedFile="SelectedFile" FileNameSelectedCallback="OnFileNameSelected" />
    </div>
</div>


@code {
    private ProjectFile? SelectedFile;

    
}

@* }
 *@