.sidebar-area {
    grid-area: sidebar;
    border-right: 1px solid #222;
}

.content-area {
    grid-area: content;
    position: relative;
    overflow: auto;
}

.terminal-area {
    grid-area: terminal;
    border-top: 1px solid #222;
}
